body{
    width: 99%;
    height: 99%;
}
nav{

    border-bottom: thin solid #DCDCDC;
    padding-bottom: 5px;

}

li{
    float: left;
    padding: 1;
    padding-right: 1.0em;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-weight: 100;
    font-size: 1em;
    color: skyblue;
    font-family: 'Raleway', sans-serif;
    
}

ul{
    letter-spacing: 5px;
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    text-align: center;
    
}

a{
    color: black;
    text-decoration: none;
    padding-right: .75em;
}
a:vistied{
    color: lightskyblue;
}

a:link{
    color: black;
}

a:hover{
    color: lightskyblue;
    transition: color .2s ease-in;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

section{
    margin-top: 100px;
    margin-bottom: 100px;
}

h1{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .125em
}

h1.intro{
    padding-top: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: black;
    text-transform: uppercase;
    font-size: 2.5em;
}

h1.ourstory{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 2.5em;
    text-transform: uppercase;
}

article{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2em;
    color: burlywood;
}


/*img*/

img{
    display: block;
    padding-top: 35px;
    padding-bottom: 50px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    
}

/*quote*/

quote{
    width: 50%;
    letter-spacing: .125em;
    line-height: 1.5em;
    display: block;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 14px;
}