nav{

    border-bottom: thin solid #DCDCDC;
}

li{
    float: left;
    padding: 1;
    padding-right: 1.5em;
    text-transform: uppercase;
    letter-spacing: .10em;
    font-weight: 400;
    font-size: 1.25em;
    color: skyblue;
    font-family: 'Indie Flower', cursive;
    
}

ul{
    letter-spacing: 5px;
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    text-align: center;
    
}

a{
    color: black;
    text-decoration: none;
    padding-right: .75em;
}
a:vistied{
    color: lightskyblue;
}

a:link{
    color: black;
}

a:hover{
    color: lightskyblue;
    transition: color .3s ease-in;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

section{
    margin-top: 100px;
    margin-bottom: 100px;
}

h1.intro{
    padding-top: 50px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: lighter;
    color: burlywood;
    text-transform: uppercase;
    font-size: 2.5em;
}

h1.ourstory{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: black;
    font-size: 3.5em;
    text-transform: uppercase;
}

article{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}

h2{
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3em;
    color: burlywood;
}
